.input {
    width: 80%;
    padding: .6rem;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.3);
    margin: 3px;
    height: 10px;
}
.loginBtn{
    margin-left: 8px;
    margin-top: 10px;
    background-color: rgb(108, 13, 137);
    color: white;
    cursor: pointer;
    font-size: 15px;
    border-radius: 3px;
    padding: 6px 16px 6px 16px;
}
.title-Login{
    padding: 10px;
    font-weight:bold;
    font-size: 20px;
    color: rgb(44, 10, 85);
}
.fas{
    font-size:50px;
}

.gobackBtn{
    background-color: rgb(108, 13, 137);
    color: white;
    margin-left: 8px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 13px;
    border-radius: 3px;
    padding: 8px 10px 8px 10px;
}
    
