.welcome-right-container{
    font-family: 'Open Sans', sans-serif;
}


.input {
    width: 80%;
    padding: .6rem;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.3);
    margin: 3px;
    height: 10px;
}

.register-container{
    margin-left: 15px;
    margin-top: 10px;
}
.Register{
    margin-left: 8px;
    margin-top: 10px;
    background-color: rgb(108, 13, 137);
    color: white;
    cursor: pointer;
    font-size: 15px;
    border-radius: 3px;
    padding: 5px 10px 5px 10px;
}
.title-createAccount{
    padding: 10px;
    font-weight:bold;
    font-size: 20px;
    color: rgb(44, 10, 85);
}
