.welcome-container {
    display: flex;
    height: inherit;
    margin: auto;
    width: 70%;
    height: calc(100vh - 300px);
  box-shadow: 0px 5px 10px 0px rgb(60 34 72 / 50%);
}


.welcome-left-container {
    background-image: url("../public/welcome-img1.jpg");
    background-color: antiquewhite;
    width: 65%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    
    
}
.welcome-title{
    /*margin-top: 200px;*/
    color: rgb(60, 15, 116);
    
}
.inside-text{
    color: white;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
}

.welcome-right-container {
    background-color:white;
    width: 35%;
    font-family: 'Open Sans', sans-serif;
}
.choose-container{
    text-align: center;
    /*margin-top: 210px;*/
    
}
.login-btn{
    background: rgb(170,49,185);
    background: linear-gradient(180deg, rgba(170,49,185,1) 0%, rgba(112,67,208,0.7961309523809523) 100%);
    border-color: white;
    height: 40px;
    width: 180px;
    color: white;
    border-radius: 25px;
   margin-bottom: 10px;
   font-size: 17px;
}
.register-btn{
    background: rgb(170,49,185);
    background: linear-gradient(180deg, rgba(170,49,185,1) 0%, rgba(112,67,208,0.7961309523809523) 100%);
    border-color: white;
    height: 40px;
    width: 180px;
    color: white;
    border-radius: 25px;
    font-size: 17px;
    
}
.user-text{
    color: rgb(60, 15, 116);
}



@media only screen  and (min-width : 1224px) {

}
    
/*smartphone*/
@media only screen and (max-width : 400px) {
    .app-container{
        margin-top: 40px;
        margin-bottom: 40px;
        height: calc(100vh - 80px);
      }


    .welcome-left-container {
        display: none;
    }
    .welcome-right-container {
        margin: auto;
        width: 100%;
    }
    .header{
        color: rgb(44, 10, 85);
       margin-bottom: 30px;
        
      }
}


@media only screen  and (min-width : 1224px) {
    .welcome-container{
      margin-top: 80px;
      margin-bottom: 80px;
      height: calc(100vh - 180px);
      
    }
    }
  